# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=chatfolio

# GitHub Configuration
GITHUB_TOKEN=

# AI Configuration
HUGGINGFACEHUB_API_TOKEN=
GROQ_API_KEY=

# Authentication
JWT_SECRET_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
