PyGithub>=2.1.1
networkx>=3.1
python-dotenv>=1.0.0

fastapi
uvicorn
pydantic
httpx

sqlalchemy
psycopg2-binary

langchain
langchain-openai
chromadb
tiktoken
langchain-community
langchain-text-splitters

fastapi-sso>=0.15.0
PyJWT>=2.8.0